<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCqzMPnulDtmldmKc8IqJWgrTaeKrsMPG4</string>
	<key>GCM_SENDER_ID</key>
	<string>450396097734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.clubexpress.mobileapp</string>
	<key>PROJECT_ID</key>
	<string>clubexpress-one-app</string>
	<key>STORAGE_BUCKET</key>
	<string>clubexpress-one-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450396097734:ios:37e52e8fe04025a582dbc7</string>
</dict>
</plist>